Source: ros-indigo-oculusprime
Section: misc
Priority: extra
Maintainer: Xaxxon Technologies <info@xaxxon.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-dynamic-reconfigure, ros-indigo-nodelet, ros-indigo-pcl-ros, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-std-msgs, ros-indigo-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-oculusprime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-amcl, ros-indigo-depthimage-to-laserscan, ros-indigo-dwa-local-planner, ros-indigo-dynamic-reconfigure, ros-indigo-gmapping, ros-indigo-map-server, ros-indigo-move-base, ros-indigo-nodelet, ros-indigo-openni2-camera, ros-indigo-openni2-launch, ros-indigo-pcl-ros, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-std-msgs, ros-indigo-visualization-msgs
Description: Oculus Prime
